@charset "UTF-8";

@font-face {
  font-family: "AGAvalancheC";
  src: local("AGAvalancheC-Bold"), url("../fonts/AGAvalancheC-Bold.woff2") format("woff2"), url("../fonts/AGAvalancheC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro";
  src: local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro";
  src: local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro";
  src: local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

* {
  min-width: 0;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-wrapper {
  border: 2px solid transparent;
  /*Обводка нужной толщины, но прозрачная*/
  background: -webkit-gradient(linear, left bottom, left top, from(#C4AF7E), color-stop(45.1%, #E9DB99), to(#AA894B)), -webkit-gradient(linear, left bottom, left top, from(#EFECE2), to(#EFECE2));
  background: linear-gradient(0deg, #C4AF7E 0%, #E9DB99 45.1%, #AA894B 100%), linear-gradient(0deg, #EFECE2, #EFECE2);
  -webkit-box-shadow: inset 0px 0px 0px 100vw #fff;
  box-shadow: inset 0px 0px 0px 100vw #fff;
  /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
  border-radius: 8px;
}

.input {
  font-size: 18px;
  width: 100%;
  display: block;
  padding: 0 16px;
  height: 60px;
  color: #06142B;
  border-radius: 8px;
  background: #EFECE2;
}

.input::-webkit-input-placeholder {
  color: #06142B;
  font-size: 18px;
  opacity: 0.43;
}

.input::-moz-placeholder {
  color: #06142B;
  font-size: 18px;
  opacity: 0.43;
}

.input:-ms-input-placeholder {
  color: #06142B;
  font-size: 18px;
  opacity: 0.43;
}

.input::-ms-input-placeholder {
  color: #06142B;
  font-size: 18px;
  opacity: 0.43;
}

.input::placeholder {
  color: #06142B;
  font-size: 18px;
  opacity: 0.43;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.input:focus::-ms-input-placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: transparent;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid #C2A760;
  background-color: #F2F2EE;
}

.checkbox__text:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 7.5px;
  top: 7.2px;
  background-color: #C2A760;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body {
  background: #F2F2EE;
  font-size: 18px;
  font-family: "CeraPro", sans-serif;
  color: #06142B;
}

html {
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.header,
.footer {
  position: relative;
  z-index: 2;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding-left: 40px;
  padding-right: 40px;
}

.header,
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container-small {
  max-width: 1040px;
}

.stroke {
  fill: none !important;
  color: #B69356;
}

body.lock {
  overflow: hidden;
}

.page__body {
  background: #fff;
  padding: 10px 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  line-height: 135.7142857143%;
  min-height: 75px;
  border-radius: 10px;
  -webkit-clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  padding: 2px 20px;
  position: relative;
  color: #06142B;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  max-width: 280px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button::before {
  -webkit-clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: linear-gradient(93deg, #B18C52 4.53%, #E8E3CC 42.43%, #B18C52 99.52%);
}

.button::after {
  -webkit-clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: linear-gradient(93deg, #0D254D 4.53%, #174083 42.43%, #06142B 99.52%);
  opacity: 0;
  visibility: hidden;
}

.button_blue {
  color: #EBDD9B;
}

.button_blue::before {
  -webkit-clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(93deg, #0D254D 4.53%, #174083 42.43%, #06142B 99.52%);
}

.button_blue::after {
  -webkit-clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  clip-path: polygon(2.634% 0.683%, 2.634% 0.683%, 12.107% 0.437%, 21.58% 0.246%, 31.053% 0.109%, 40.527% 0.027%, 50% 0%, 59.473% 0.027%, 68.946% 0.109%, 78.42% 0.246%, 87.893% 0.437%, 97.366% 0.683%, 97.366% 0.683%, 97.677% 0.833%, 97.981% 1.247%, 98.272% 1.905%, 98.545% 2.783%, 98.796% 3.86%, 99.02% 5.114%, 99.212% 6.521%, 99.367% 8.061%, 99.481% 9.711%, 99.548% 11.448%, 99.548% 11.448%, 99.71% 19.159%, 99.837% 26.869%, 99.928% 34.579%, 99.982% 42.29%, 100% 50%, 99.982% 57.71%, 99.928% 65.421%, 99.837% 73.131%, 99.71% 80.842%, 99.548% 88.552%, 99.548% 88.552%, 99.481% 90.29%, 99.367% 91.939%, 99.212% 93.479%, 99.02% 94.887%, 98.796% 96.14%, 98.545% 97.217%, 98.272% 98.095%, 97.981% 98.753%, 97.677% 99.167%, 97.366% 99.317%, 97.366% 99.317%, 87.893% 99.563%, 78.42% 99.754%, 68.946% 99.891%, 59.473% 99.973%, 50% 100%, 40.527% 99.973%, 31.053% 99.891%, 21.58% 99.754%, 12.107% 99.563%, 2.634% 99.317%, 2.634% 99.317%, 2.323% 99.167%, 2.019% 98.753%, 1.728% 98.095%, 1.455% 97.217%, 1.204% 96.14%, 0.98% 94.887%, 0.788% 93.479%, 0.633% 91.939%, 0.519% 90.29%, 0.453% 88.552%, 0.453% 88.552%, 0.29% 80.842%, 0.163% 73.131%, 0.072% 65.421%, 0.018% 57.71%, 0% 50%, 0.018% 42.29%, 0.072% 34.579%, 0.163% 26.869%, 0.29% 19.159%, 0.453% 11.448%, 0.453% 11.448%, 0.519% 9.711%, 0.633% 8.061%, 0.788% 6.521%, 0.98% 5.114%, 1.204% 3.86%, 1.455% 2.783%, 1.728% 1.905%, 2.019% 1.247%, 2.323% 0.833%, 2.634% 0.683%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  background: linear-gradient(93deg, #B18C52 4.53%, #E8E3CC 42.43%, #B18C52 99.52%);
}

.button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.button span {
  position: relative;
  z-index: 3;
}

.vjs-big-play-button {
  border: none !important;
}

.base-video {
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #C4AF7E;
}

.base-video .vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 72px !important;
  height: 72px !important;
  background: url("../images/icons/play.svg") center center/contain no-repeat;
}

.base-video .vjs-big-play-button span {
  display: none;
}

.base-video .vjs-poster {
  background-size: cover !important;
}

.base-video video {
  -o-object-fit: cover;
  object-fit: cover;
}

.normal {
  font-weight: 400 !important;
}

[data-tab-content] {
  display: none !important;
}

[data-tab-content].active {
  display: block !important;
}

.title {
  text-align: center;
  font-family: "AGAvalancheC";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.8%;
  /* 43.9px */
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.32%, #B18C52), color-stop(40.72%, #D3C36D), color-stop(49.66%, #B18C52), color-stop(59.49%, #A38044), color-stop(67.24%, #D3C36D), color-stop(81.14%, #B18C52));
  background: linear-gradient(90deg, #B18C52 28.32%, #D3C36D 40.72%, #B18C52 49.66%, #A38044 59.49%, #D3C36D 67.24%, #B18C52 81.14%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.base-calendar .calendar__day-box {
  background: #EFECE2 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.base-calendar .color-calendar {
  background: #EFECE2 !important;
  margin: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  border: 3px solid #C6AD62 !important;
}

.base-calendar .calendar__year {
  display: none !important;
}

.base-calendar .calendar__month {
  position: relative;
  left: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.32%, #B18C52), color-stop(40.72%, #D3C36D), color-stop(49.66%, #B18C52), color-stop(59.49%, #A38044), color-stop(67.24%, #D3C36D), color-stop(81.14%, #B18C52));
  background: linear-gradient(90deg, #B18C52 28.32%, #D3C36D 40.72%, #B18C52 49.66%, #A38044 59.49%, #D3C36D 67.24%, #B18C52 81.14%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "AGAvalancheC";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.8%;
  /* 43.9px */
  text-transform: uppercase;
}

.base-calendar .calendar__day-other {
  color: #ABABAB;
}

.base-calendar .calendar__day-active {
  color: #1E1E1E !important;
}

.base-calendar .calendar__arrow {
  display: none !important;
}

.base-calendar .color-calendar {
  max-width: 550px;
  width: 100% !important;
}

.base-calendar .calendar__days {
  -ms-grid-columns: (minmax(20px, 80px))[7] !important;
  grid-template-columns: repeat(7, minmax(20px, 80px)) !important;
  -ms-grid-rows: (minmax(30px, 78px))[6] !important;
  grid-template-rows: repeat(6, minmax(30px, 78px)) !important;
}

.base-calendar .calendar__days > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.base-calendar .calendar__days > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.base-calendar .calendar__days > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.base-calendar .calendar__days > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.base-calendar .calendar__days > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.base-calendar .calendar__days > *:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.base-calendar .calendar__days > *:nth-child(37) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.base-calendar .calendar__days > *:nth-child(38) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.base-calendar .calendar__days > *:nth-child(39) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.base-calendar .calendar__days > *:nth-child(40) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.base-calendar .calendar__days > *:nth-child(41) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.base-calendar .calendar__days > *:nth-child(42) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.base-calendar .calendar__weekdays {
  -ms-grid-columns: (minmax(20px, 80px))[7] !important;
  grid-template-columns: repeat(7, minmax(20px, 80px)) !important;
  margin-bottom: 0 !important;
}

.base-calendar .calendar__header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 92px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.base-calendar .calendar__weekday {
  height: 62px !important;
  background: #C6AD62 !important;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 94.8%;
  /* 20.856px */
  text-transform: uppercase;
  color: #1E1E1E !important;
  opacity: 1 !important;
}

.base-calendar .color-calendar.basic .calendar__days .calendar__day-other {
  opacity: 1 !important;
  color: #ABABAB;
}

.base-calendar .calendar__header {
  pointer-events: none;
  padding-bottom: 18px !important;
}

.base-calendar .color-calendar.basic .calendar__body {
  padding: 0 !important;
}

.base-calendar .color-calendar .calendar__days .calendar__day-text,
.base-calendar .calendar__day-box {
  cursor: default !important;
}

.base-calendar .calendar__day {
  cursor: default !important;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 94.8%;
  /* 20.856px */
  text-transform: uppercase !important;
  border: 1px solid #C6AD62 !important;
  margin-top: -1px !important;
  margin-left: -1px !important;
}

*::-moz-selection {
  color: #fff;
  background: #C7AA6D;
}

*::selection {
  color: #fff;
  background: #C7AA6D;
}

.banner {
  position: relative;
}

.banner__more {
  z-index: 4;
  top: 8px;
  right: 0;
  position: absolute;
}

.calendar__day-active.blue {
  background: #174083 !important;
}

.calendar__day-active.blue .calendar__day-text {
  color: #fff !important;
}

.calendar__day-active.brown {
  background: #63320F !important;
}

.calendar__day-active.brown .calendar__day-text {
  color: #fff !important;
}

.calendar__day-active.yellow {
  background: #C59834 !important;
}

.calendar__day-active.yellow .calendar__day-text {
  color: #fff !important;
}

.calendar__day-active.green {
  background: #0A5043 !important;
}

.calendar__day-active.green .calendar__day-text {
  color: #fff !important;
}

.calendar__day-active.red {
  background: #8A0B57 !important;
}

.calendar__day-active.red .calendar__day-text {
  color: #fff !important;
}

.color-calendar.basic .calendar__days .calendar__day-selected .calendar__day-box {
  background: transparent !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 74px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1460px;
}

.header .burger {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.header .burger__body {
  position: relative;
  width: 33px;
  height: 15px;
}

.header .burger span {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  right: 0;
  top: calc(50% - 1.5px);
  height: 3.1px;
  background: #174083;
}

.header .burger span:first-child {
  top: 0;
}

.header .burger span:last-child {
  top: auto;
  bottom: 0;
}

.header .burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 100%;
}

.header .burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1.5px);
}

.header .burger.active span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header__burger {
  pointer-events: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 53px;
  flex: 0 0 53px;
  width: 53px !important;
  height: 53px !important;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#B69356), to(#D3C26D));
  background: linear-gradient(180deg, #B69356 0%, #D3C26D 100%);
}

.header__burger img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  pointer-events: none;
  z-index: 999;
}

.menu {
  z-index: 50;
  padding-top: 25px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: fixed;
  top: 0;
  left: -100%;
  width: 343px;
  height: 750px;
}

.menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 343px;
  background: #BF9F63;
  height: 82px;
}

.menu__burger {
  margin-left: 34px;
}

.menu.active {
  left: 0;
}

.menu__content {
  height: 100%;
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 25px;
}

.menu__item {
  margin-bottom: 15px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 94.8%;
  padding-left: 27px;
  display: inline-block;
  background: url("../images/icons/diamond.svg") 0 0 no-repeat;
}

.menu__link span {
  text-decoration-color: #C7AA6D !important;
}

.menu__link.active {
  background: url("../images/icons/diamond-yellow.svg") 0 0 no-repeat;
}

.menu__link.active span {
  text-decoration: underline;
}

.menu__link_blue {
  color: #174083;
}

.menu__link_submenu::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 5px;
  background: url("../images/icons/angle-down-blue.svg") 0 0 no-repeat;
}

.menu__link_submenu.active::after {
  background: url("../images/icons/angle-down-yellow.svg") 0 0 no-repeat;
}

.submenu__list {
  padding-left: 27px;
  padding-top: 17px;
  padding-right: 10px;
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__item:last-child {
  margin: 0;
}

.submenu__link {
  padding-left: 12px;
  display: inline-block;
  background: url("../images/icons/angle-right.svg") 0 2px no-repeat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 94.8%;
}

.search-header {
  pointer-events: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
}

.search-header__input {
  position: relative;
}

.search-header__button {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.search-header__button svg {
  width: 21px;
  height: 21px;
}

.search-header input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  display: block;
  border-radius: 6px;
  background: #EFECE2;
  border: 2px solid #BBBEBD;
}

.search-header input::-webkit-input-placeholder {
  opacity: 0.43;
}

.search-header input::-moz-placeholder {
  opacity: 0.43;
}

.search-header input:-ms-input-placeholder {
  opacity: 0.43;
}

.search-header input::-ms-input-placeholder {
  opacity: 0.43;
}

.search-header input::placeholder {
  opacity: 0.43;
}

.search-header input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.search-header input:focus::-moz-placeholder {
  font-size: 0;
}

.search-header input:focus:-ms-input-placeholder {
  font-size: 0;
}

.search-header input:focus::-ms-input-placeholder {
  font-size: 0;
}

.search-header input:focus::placeholder {
  font-size: 0;
}

.search-header input:focus {
  border-color: #174083;
}

.banner {
  text-align: center;
  background: url("../images/banner.jpg") center top/cover no-repeat;
}

.banner__container {
  min-height: 280px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.banner__logo {
  margin-bottom: 18px;
}

.banner__logo img {
  width: 76px;
  height: 76px;
}

.banner__title {
  background: -webkit-gradient(linear, left top, right top, color-stop(28.32%, #B18C52), color-stop(40.72%, #D3C36D), color-stop(49.66%, #B18C52), color-stop(59.49%, #A38044), color-stop(67.24%, #D3C36D), color-stop(81.14%, #B18C52));
  background: linear-gradient(90deg, #B18C52 28.32%, #D3C36D 40.72%, #B18C52 49.66%, #A38044 59.49%, #D3C36D 67.24%, #B18C52 81.14%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "AGAvalancheC";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.8%;
  /* 61.46px */
  text-transform: uppercase;
}

.header__menu {
  pointer-events: auto;
}

.footer {
  background: #EFECE2;
}

.footer__container {
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
}

.footer__logo img {
  width: 79px;
  height: 79px;
}

.footer__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 94.8%;
}

.footer__social svg {
  fill: #163D7E;
  width: 23px;
  height: 19px;
}

@media (min-width: 480.98px) {
  .menu__content {
    overflow: auto;
    border-radius: 8px;
    border: 3px solid #B18C52;
    background: #F2F2EE;
    padding-bottom: 30px;
  }

  .banner__search {
    display: none;
  }

  .footer__container {
    min-height: 150px;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 991.98px) {
  .banner__more {
    display: none;
  }

  .menu-banner {
    display: none;
  }

  .footer__container {
    min-height: 200px;
  }
}

@media (max-width: 991.98px) {
  .menu-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #F2F2EE;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
  }

  .menu-banner.active {
    opacity: 1;
    visibility: visible;
  }

  .menu-banner__button {
    max-width: 260px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .menu-banner__button:last-child {
    margin: 0;
  }

  .menu-banner__close {
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 15px;
  }

  .menu-banner__close img {
    width: 28px;
    height: 28px;
  }

  .menu-banner__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .base-video .vjs-big-play-button {
    width: 42px !important;
    height: 42px !important;
  }

  .title {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .search-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 124px;
    flex: 0 0 124px;
  }

  .banner {
    background: url("../images/banner-mobile.jpg") center top/cover no-repeat;
  }

  .banner__container {
    min-height: 214px;
    padding-bottom: 15px;
  }

  .banner__logo img {
    width: 60px;
    height: 60px;
  }

  .banner__title {
    font-size: 60px;
    margin-bottom: 7px;
  }
}

@media (max-width: 480.98px) {
  .input {
    height: 50px;
  }

  .input {
    font-size: 14px;
  }

  .input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .input::-moz-placeholder {
    font-size: 14px;
  }

  .input:-ms-input-placeholder {
    font-size: 14px;
  }

  .input::-ms-input-placeholder {
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .checkbox__text:before {
    width: 20px;
    height: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
  }

  .checkbox__text:after {
    width: 10px;
    height: 10px;
    left: 5.5px;
    top: 4.8px;
  }

  body {
    font-size: 14px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .base-video .vjs-big-play-button {
    width: 22px !important;
    height: 22px !important;
  }

  .title {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .base-calendar .calendar__header {
    min-height: 50px !important;
    padding: 0 20px !important;
  }

  .base-calendar .calendar__month {
    font-size: 20px !important;
  }

  .base-calendar .calendar__weekday {
    font-size: 12px !important;
    height: 33px !important;
  }

  .base-calendar .calendar__days {
    -ms-grid-rows: (minmax(30px, 43px))[6] !important;
    grid-template-rows: repeat(6, minmax(30px, 43px)) !important;
  }

  .base-calendar .calendar__day {
    font-size: 12px !important;
  }

  .menu::before {
    width: 100%;
  }

  .menu__burger {
    margin-left: 7px;
  }

  .menu {
    width: 100%;
    height: 100vh;
    overflow: auto;
    border: 3px solid #B18C52;
    background: #F2F2EE;
    padding-bottom: 30px;
  }

  .menu__content {
    padding-left: 16px;
  }

  .menu__list {
    padding-bottom: 30px;
  }

  .menu__link {
    font-size: 14px;
  }

  .submenu__link {
    font-size: 12px;
  }

  .header__search {
    display: none;
  }

  .banner {
    background: url("../images/banner-mobile-2.jpg") center top/cover no-repeat;
  }

  .banner__container {
    min-height: 140px;
  }

  .banner__logo {
    margin-bottom: 7px;
  }

  .banner__logo img {
    width: 22px;
    height: 22px;
  }

  .banner__title {
    font-size: 26px;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer__logo img {
    width: 88px;
    height: 88px;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 27px;
  }

  .footer__link {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 27px;
  }

  .footer__social {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media (min-width: 480.98px) and (max-width: 767.98px) {
  .banner__body {
    position: relative;
    bottom: 7px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #EBDD9B;
  }

  .button:hover::before {
    opacity: 0;
    visibility: hidden;
  }

  .button:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .button_blue:hover {
    color: #06142B;
    background-color: transparent !important;
  }

  .button_blue:hover::before {
    opacity: 0;
    visibility: hidden;
  }

  .button_blue:hover::after {
    opacity: 1;
    visibility: visible;
  }

  .button:hover {
    background-color: #413378;
  }

  .menu__link:hover {
    background: url("../images/icons/diamond-yellow.svg") 0 0 no-repeat;
  }

  .menu__link:hover span {
    text-decoration: underline;
  }

  .footer__link:hover {
    text-decoration: underline;
  }
}